<% layout('layout/boilerplate') %>


    <div class="row">
        <div class="col-6  offset-3">
            <br><br>
            <h1>Login</h1>
            <form method="post" action="/login" novalidate class="needs-validation">
 
                <div class="mb-3">
                    <label for="username" class="form-label"> Username</label>
                    <input name="username" type="text" class="form-control" required>
                    <div class="valid-feedback"> Looks good!</div>

                </div>

           <div class="mb-3">
                    <label for="password" class="form-label"> Password</label>
                    <input name="password" type="password" id="password" class="form-control" required>
                </div>

                <button class="btn btn-success">Login</button>
      </form>  
    </div>
    </div>