<% layout('layout/boilerplate') %>

    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h1>Create New Listings</h1>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label"> Titel</label>
                    <input name="listing[title]" required placeholder="Add a catchy title" type="text"
                        class="form-control">
                    <div class="valid-feedback"> Looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label"> Dedcription</label>
                    <textarea name="listing[description]" required type="text" class="form-control">
    </textarea>
                    <div class="invalid-feedback"> Please Enter the valid description.</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">upload image</label>
                    <input name="listing[image]" type="file" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"> Price</label>
                        <input name="listing[price]" required placeholder="1200" class="form-control">
                        <div class="invalid-feedback"> please Enter valid price.</div>
                    </div>

               
                    <div class="mb-3 col-8">
                        <label for="country" class="form-label"> Country</label>
                        <input name="listing[country]"placeholder="india"required type="text"
                            class="form-control">
                        <div class="invalid-feedback"> Please Enter valid Country.</div>
                    </div>
                </div>



                    <div class="mb-3">
                        <label for="location" class="form-label"> Location</label>
                        <input name="listing[location]" required placeholder="Jaipur Rajasthan" type="text"
                            class="form-control">
                        <div class="invalid-feedback"> Please Enter the valid Location.</div>
                    </div>

                    <div class="mb-3">
                        <label for="category" class="form-label">Select Category</label>
                        <select class="form-select" id="category" name="listing[category]" required>
                            <option value="">Select a category</option>
                            <option value="trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Mountain">Mountain</option>
                            <option value="Amazing Pools">Amazing Pools</option>
                            <option value="Farms">Farms</option>
                            <option value="Arctic">Arctic</option>
                            <option value="Iconic Cities">Iconic Cities</option>
                            <option value="Castles">Castles</option>
                        </select>
                        <div class="invalid-feedback">Please select a category</div>
                    </div>
                    <button class="btn btn-dark add col-1">Add</button>
            </form>
        </div>
    </div>