    body {
        font-family: "Plus Jakarta Sans", sans-serif;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .container {
        flex: 1;

    }

    /* navbar */
    .navbar {
        height: 5rem;
        background-color: transparent;
        background-color: white;
    }

    .fa-compass {
        color: #fe424d;
    }

    .nav-link {
        color: #222222 !important;
    }

    /* footer */
    .f-info {
        display: flex;
        justify-content: center;
        align-items: space-evenly;
        flex-wrap: wrap;
        background-color: #ebebeb;
        height: 6rem;
    }

    .f-info-Links,
    .f-info-socical,
    .f-info-brand {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


    }

    .f-info-socical i {
        margin-right: 1.2rem;
        font-size: 1.3rem;

    }

    .f-info-Links a {
        text-decoration: none;
    }

    .f-info-Links a:hover {
        text-decoration: underline;
    }


    /* card */

    .card {
        border: none !important;
        margin-bottom: 2rem;

    }

    .card-img-top {
        border-radius: 1rem !important;
        width: 100% !important;
        object-fit: cover !important;
    }

    .card-body {
        padding: 0 !important;
    }

    .listing-ling {
        text-decoration: none;
    }

    .card-img-overlay {
        opacity: 0;
    }

    .card-img-overlay:hover {
        opacity: 0.2;
        background-color: white;
    }


    /* new page */
    .add {
        background-color: #fe424d !important;
        border: none !important;
    }


    /* Edit */

    .edit {
        background-color: #fe424d !important;
        border: none !important;

    }
    a.edit{
        height: 37px;
    }


    /* show */

    .show-img {
        height: 30vh;
     
    }

    .btns {
        display: flex;
    }

    .show-card {
        padding-left: 0;
        padding-right: 0;
    }